:root {
    --c-gap: #ECECEC;

    --c-btn-delete-border: #83D77B;
    --c-btn-delete: rgb(131, 215, 123, 0.9);

    --c-text:#393535;
    --c-text-fill: #BBB4B4;
    --c-background-box: #D9D9D9;
}


.contenedorFormulario {
    width: 60%;
    background-color: var(--c-background-box);
    border-radius: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.caja {
    border: none;
    background-color: var(--c-gap);
    color: var(--c-text-fill);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
  }

  .btnCrear {
    border: none;
    background-color: var(--c-btn-delete);
    color: var(--c-text);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
  }