

:root {
    --c-background:#FFFFFF;
    --c-window: #B6BBD6;
    --c-gap: #ECECEC;
   
    --c-btn-delete-border: #83D77B;
    --c-btn-delete: rgb(131, 215, 123, 0.9);
    --c-btn-delete-border: #6895BE;
    --c-btn-delete: rgb(104, 149, 190, 0.9);
    --c-btn-delete-border: #CC8282;
    --c-btn-delete: rgb(204, 130, 130, 0.9);

    --c-text:#393535;
    --c-text-fill: #BBB4B4;
    --font: 'Lato', sans-serif;
  }