.ventana {
  background-color: var(--c-card);
  display: flex;
  flex-direction: column;
  padding: 6%;
  width: 80%;
  margin: 5% 0;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container3 {
  width: 100px;
  overflow: hidden;
  margin-bottom: 5%;
  transition: 0.3s;
}
.container3:hover {
  transform: scale(1.2);
}

.container3 img {
  width: 100%;
  height: fit-content;

}

.container4 {
  width: 100%;
}

.container5,
.container6 {
  background-color: var(--c-gap);
  padding: 10%;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5%;
}

.container5 p {
  font-style: italic;
}

.btnsIconsDetalle {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6.5%;
}

.btnsIconsDetalle a {
  color: var(--c-text);
  padding: 5% 0;
  width: 40%;
  border-radius: 10px;
  text-align: center;
}

.btnsIconsDetalle .pencil,
.btns .pencil {
  background-color: var(--c-btn-edit);
  border: 1.5px solid var(--c-btn-edit-border);
}

.pencil:hover {
  background-color: var(--c-btn-edit-border)
}

.btnsIconsDetalle .trash,
.btns .trash {
  background-color: var(--c-btn-delete);
  border: 1.5px solid var(--c-btn-delete-border);
}

.trash:hover {
  background-color: var(--c-btn-delete-border)
}

@media only screen and (min-width: 600px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0;
    }
    
    .div1 { grid-area: 2 / 1 / 4 / 2; }
    .div2 { grid-area: 2 / 2 / 4 / 3; }
    .div3 { grid-area: 1 / 1 / 2 / 3; }

.container2{
  /* flex-direction: row; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0;
  width: 100vw;

}
.container3{
  grid-area: 2 / 1 / 4 / 2;
width: 100%;
margin: 0;
}
.container5{
  grid-area: 1 / 1 / 2 / 4;  
  width: 100%;
}
.container6{
  grid-area: 2 / 3 / 4 / 4;
}
}