/* .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    height: 2rem;
    width: 100%;
    background-color: var(--c-card);
    margin-bottom: 2%;
}

.imagotipo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img_isologo {
    display: flex;
    justify-content: center;
    width: 4rem;
    height: 4rem;
}

.sb_logotipo {
    width: 15rem;
    color: var(--c-text);
}

.acciones_barra {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.biblioteca {
    display: flex;
    align-items: center;
    margin-right: 5%;
    text-decoration: none;
    padding: 1%;
    height: 1.5rem;
    border-radius: 10px;
    background-color: var(--c-gap);

}

.biblioteca a {
    display: flex;
    justify-content: center;
    padding: 10%;
    width: 9rem;
}

        .crear_formulario {
    display: flex;
    align-items: center;
    margin-right: 5%;
    text-decoration: none;
    padding: 1%;
    height: 1.5rem;
    border-radius: 10px;
    background-color: var(--c-gap);
}

.crear_formulario a {
    display: flex;
    justify-content: center;
    padding: 10%;
    width: 9rem;
}

.buscar_ok {
    display: flex;
    padding: 10%;
    width: 10%;
}

#palabras_clave {
    color: var(--c-text-fill);
    background-color: var(--c-gap);
    padding: 1%;
} */

.header,
.logo,
.acciones_barra,
.acciones_barra a {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 10%;
}

.logo {
    padding: 2% 10%;
    width: 100%;
    justify-content: space-evenly;
}

.logo img {
    width: 20%;
}


.acciones_barra {
    justify-content: space-around;
    background-color: var(--c-card);
    width: 100%;
    height: 7vh;
    padding: 0 2%;
}

.acciones_barra > * {
    background-color: var(--c-gap);
    border-radius: 10px;
    height: 70%;

    text-align: center;
    justify-content: center;
}

.acciones_barra a {
    width: 28%;
}

.input-wrapper {
    position: relative;
    width: 35%;
}

.input {
    color: #191919;
    background-color: transparent;
    padding: 3% 10%;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    font-size: medium;

}

.bi-search {
    color: var(--c-text);
    position: absolute;
    height: 50%;
    right: 10%;
    top: 40%;
    transform: translateY(-50%);
}

.bi-search::before {
    font-size: initial;
}


@media only screen and (min-width: 768px) {
.header{
    margin-bottom: 5%;
}
 .logo{
    padding: 2% 30%;
 }
 .logo img{
    width: 20%;
 }
 .acciones_barra{
    height: 7vh;
 }
}

@media only screen and (min-width: 992px){
    .header{
        height: 10vh;
        flex-direction: row;
    background-color: var(--c-card);
    padding: 2% 5%;
    }
    .logo{
        width: 30%;
        padding: 30% 0;
        justify-content: space-between;
    }
    .logo img{
        width: 20%;
    }
    .logo h1{
        align-items: flex-end;
    }
    .acciones_barra{
        width: 50%;
        background-color: transparent;
    }
}
