.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    height: 2rem;
    width: 100%;
    background-color: var(--c-window);
    margin-bottom: 2%;
}

.imagotipo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img_isologo {
    display: flex;
    justify-content: center;
    width: 4rem;
    height: 4rem;
}

.sb_logotipo {
    width: 15rem;
    color: var(--c-text);
}

.acciones_barra {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.biblioteca {
    display: flex;
    align-items: center;
    margin-right: 5%;
    text-decoration: none;
    padding: 1%;
    height: 1.5rem;
    border-radius: 10px;
    background-color: var(--c-gap);

}

.biblioteca a {
    display: flex;
    justify-content: center;
    padding: 10%;
    width: 9rem;
}

.crear_formulario {
    display: flex;
    align-items: center;
    margin-right: 5%;
    text-decoration: none;
    padding: 1%;
    height: 1.5rem;
    border-radius: 10px;
    background-color: var(--c-gap);
}

.crear_formulario a {
    display: flex;
    justify-content: center;
    padding: 10%;
    width: 9rem;
}

.buscar_ok {
    display: flex;
    padding: 10%;
    width: 10%;
}

#palabras_clave {
    color: var(--c-text-fill);
    background-color: var(--c-gap);
    padding: 1%;
}