
.nav {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5%;
    justify-content: space-between;
    background-color: var(--c-window);
}

.imagotipo {
    display:flex;
    align-items: center;
}

.img_isologo {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-left:25px;
}

.sb_logotipo {
    display:flex;
    color: var(--c-text);
}

.acciones_barra {
    display:flex;
    flex-direction:row;
}

.biblioteca {
    display:flex;
    align-items: center;
    margin-right:25px;
    text-decoration:none;
    padding:1%;
    border-radius: 10px;
    background-color: var(--c-gap);
    
}

.formulario {
    display:flex;
    align-items: center;
    margin-right:25px;
    text-decoration:none;
    padding:1%;
    border-radius: 10px;
    background-color: var(--c-gap);

}

#palabras_clave {
    color: var(--c-text-fill);
    background-color: var(--c-gap);
}
