
.formLibros {
  display: flex;
  flex-direction: column;
  background-color: var(--c-gap);
  padding: 8%;
  /* margin-top: 5%; */
  width: 80vw;
  border-radius: 10px;
}
.formLibros>*{
  font-size: large;
}
.tipoForm{
  padding: 5% 0;
  font-size: xx-large;
}

.boxDatos {
  width: 100%;
  border: none;
  background-color: var(--c-background);
  border-radius: 10px;
  padding: 5%;
  margin: 4% 0;
}
.boxDatos:hover{
  /* border: 1px solid var( --c-text); */
  background-color: var( --c-gap);
}

.btnCrear, .btnConfirmar {
  border: none;

  border-radius: 10px;
  width: 40%;
  padding: 5%;
  margin: 10% 0;
  align-self:flex-end;
  font-size: large;
}
.btnCrear{
  background-color: var(--c-btn-view);
  border: 2px solid var(--c-btn-view-border);
}
.btnCrear:hover{
  background-color: var( --c-btn-view-border);
}

.btnConfirmar{
  background-color: var(--c-btn-edit);
  border: 2px solid var(--c-btn-edit-border);
}
.btnConfirmar:hover{
  background-color: var( --c-btn-edit-border);
}

@media (min-width: 768px) {
  .formLibros {
    width: 60vw;
}
.tipoForm{
  padding: 3% 0;
}
 
}

@media (min-width: 1400px) {
  .formLibros {
    width: 40vw;
    padding: 2% 8%;
}  
.btnCrear{
  margin-bottom: 0;
}
.btnConfirmar{
  margin: 5% 0;
}
.tipoForm{
  padding: 2% 0;
}
}