
.formLibros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    background-color: var(--c-card);
    border-radius: 10px;
    padding: 10%;
}

.boxDatos {
  width: 100%;
  border: none;
  background-color: var(--c-gap);
  color: var(--c-text-fill);
  border-radius: 10px;
  padding: 5% 2%;
  margin: 4% 0;
}

.btnCrear {
  border: none;
  background-color: var(--c-btn-view);
  color: var(--c-text);
  border-radius: 10px;
  width: 30%;
  padding: 5% 2%;
  margin: 10% 0;
  align-self:flex-end;
}

.btnConfirmar {
  border: none;
  background-color: var(--c-btn-edit);
  color: var(--c-text);
  border-radius: 10px;
  width: 30%;
  padding: 5% 2%;
  margin: 10% 0;
  align-self:flex-end;
}