@import url("http://localhost/Biblioteca/estilos/encabezado.css");
@import url("http://localhost/Biblioteca/estilos/formulario.css");
@import url("http://localhost/Biblioteca/estilos/tablero.css");


/* @import url("http://localhost:8888/Biblioteca/estilos/encabezado.css");
@import url("http://localhost:8888/Biblioteca/estilos/formulario.css");
@import url("http://localhost:8888/Biblioteca/estilos/tablero.css"); */

/* @import url("encabezado.css");
@import url("formulario.css");
@import url("tablero.css"); */



:root {
  --c-background: #FFFFFF;
  --c-gap: #ECECEC;
  --c-card: #D9D9D9;

  --c-btn-view-border: #83D77B;
  --c-btn-view: rgb(131, 215, 123, 0.6);
  --c-btn-edit-border: #6895BE;
  --c-btn-edit: rgb(104, 149, 190, 0.6);
  --c-btn-delete-border: #CC8282;
  --c-btn-delete: rgb(204, 130, 130, 0.6);

  --c-text: #393535;
  --c-text-fill: #BBB4B4;
  --font: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  color: var(--c-text);
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;

}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.box0 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}