
.tablero {
  width: 100%;
  background-color: var(--c-background);
  padding: 5%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem 0;
}

.libro {
  background-color: var(--c-card);
  display: flex;
  flex-direction: column;
  padding: 4%;
  border-radius: 10px;
  width: 80%;
}

.titulo {
  background-color: var(--c-background);
  display: flex;
  align-items: center;
  padding: 2% 5%;
  height: 45px;
  cursor:default;
}

.box1 {
  display: flex;
  margin-top: 4%;
}

.caja {
  display: flex;
  width: 70%;
  transition: 0.3s;
}
.caja:hover{
transform: scale(1.1);
}

.boxI {
  overflow: hidden;
  border-radius: 10px;
  width: 150px;
  height: 210px;
}

.boxI img {
  width: 90%;
  height: fit-content;
}

.btns {
  display: none;
}

.btnsIcons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btnsIcons a {
  color: var(--c-text);
  margin-bottom: 10%;
  margin-left: 10%;
  padding: 7%;

  border-radius: 10px;
}

.bi {
  font-size: 1.2rem;
}

.btnsIcons .eye,
.btns .eye {
  background-color: var(--c-btn-view);
  border: 1.5px solid var(--c-btn-view-border);
} 
.eye:hover{
  background-color: var(--c-btn-view-border);
}

.btnsIcons .pencil,
.btns .pencil {
  background-color: var(--c-btn-edit);
  border: 1.5px solid var(--c-btn-edit-border);
}
.pencil:hover{
  background-color: var(--c-btn-edit-border)
}

.btnsIcons .trash,
.btns .trash {
  background-color: var(--c-btn-delete);
  border: 1.5px solid var(--c-btn-delete-border);
}
.trash:hover{
  background-color: var(--c-btn-delete-border)
}

.btnsIcons i {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .tablero {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 0rem;
  }

  .caja {
    width: 70%;
  }

  .boxI {
    height: 135px;
    width: 100px;
  }

  .btnsIcons a {
    margin-bottom: 10%;
  }
}

@media only screen and (min-width: 992px) {
  .tablero {
    padding: 1%;
    grid-template-columns: repeat(4, 1fr);
  }
  .caja{
    width: 70%;
  }

  .boxI {
    width: 120px;
    height: 170px;
  }

  .btns {
    display: none;
  }

  .btnsIcons {
    width: 40%;
  }

  .btns a {
    border-radius: 10px;
    margin-bottom: 10%;
    margin-left: 10%;
    font-size: 14px;
    padding: 5%;
    text-align: center;
  }

}

@media only screen and (min-width: 1400px) {
  .tablero {
    padding: 4%;
  }
  .btns {
    width: 50%;
  }
}
@media only screen and (min-width: 2500px) {
  .tablero {
    grid-template-columns: repeat(8, 1fr);
  }
  .caja{
    width: 70%;
  }
  .boxI {
    width: 170px;
    height: 190px;
  }
}